body {
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginCard {
  background: white;
  padding: 80px 50px;
  width: 300px;
  box-sizing: border-box;
  box-shadow: -2px 2px 8px 10px #f7f7f7;
}

.loginCard .controlContainer,
.loginCard .rememberContainer {
  margin-bottom: 16px;
}

.loginCard .rememberContainer {
  display: flex;
  align-items: center;
}

.controlContainer * {
  width: 100%;
}

.customInput {
  border: 1px solid #d3cdcd;
  padding: 12px 8px;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.errorText {
  color: red;
  margin-top: 8px;
}

.btnSubmit {
  font-size: 16px;
  background: #007bff;
  border: none;
  padding: 8px 0;
  color: #ffffff;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
}

.rememberContainer {
  display: flex;
  cursor: pointer;
}

.rememberlabel {
  margin-left: 6px;
}

.logoContainer {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 100%;
  margin-bottom: 28px;
  box-shadow: -2px 2px 8px 10px #f7f7f7;
  justify-content: center;
  display: flex;
  align-items: center;
}

.logo {
  width: 64px;
  height: 64px;
}
